@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,400;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9ecef;
}

/* .main-container{
  width: 100%;
} */

/*SEARCH BAR----------*/
.search-bar{
  /* background: transparent; */
  margin-top: 6rem;
  height: 55px;
  width: 795px;
  /* width: 70%; */
  padding: 20px;
  font-size: 20px;
  font-family: 'Roboto' , 'sans-serif';
  box-shadow: 2px 2px #ced4da;
 
}
input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} 


/*SEARCH ICON-----*/

.search-btn{
  margin-top:6rem;
  margin-left: 17px;
  height: 56px;
  width: 78px;
  background-color: black;
  color: #ffff;
  /* font-size: 35px; */
  text-align:center !important;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  border: none;
   cursor:pointer;
}
.fa-search{
  background-color: #000000;
  font-size: 20px;
  
}

/*FIRST HEADING LINE---*/
 .topic-name{
   font-size: 35px;
   font-weight: 600;
   color: #000000;
 }

 /*SECOND HEADING LINE ---*/
 .total-image{
   font-size: 15px;
   color: #6c757d;
 }

 /*PARENT OF IMAGE TAG ----*/
  
.images{
  display:flex;
 justify-content: center;
 flex-direction: row;
  flex-wrap: wrap;
 
}

/*TARGET IMG TAG----*/
img{
  height: 150px;
  width:250px;
  padding: 10px;
  border-radius: 20px;
}

.btn-load-more{
   background-color: #000000;
   color: #ffff;
   border: none;
   padding:10px;
   border-radius: 5px;
   
}

/*CONTROLING THE RESPONSIVENESS OF HEADING----*/

@media screen and (min-width: 1200px) and (max-width: 2000px) {

  .heading{
    position: relative;
    left:7rem
  }
}




